@tailwind base;
@tailwind components;
@tailwind utilities;

.border-blue-500 {
  border-color: url(#spinner-gradient);
}
.border-red-500 {
  border-color: #ef4444;
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(300%);
  }
}
.animate-slide {
  animation: slide 1.5s ease-in-out infinite;
}
